.overall-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /*creates 3 columns that each take an equal fraction (fr) of the available space*/
  grid-template-rows: 1fr 3fr 2fr; /*creates 3 rows that each take an equal fraction (fr) of the available space*/
  height: 100vh; /*100vh = 100% of users screen height*/
  width: 100%; /*100% of users screen width*/
  grid-template-areas: 
  "box-1 box-2 box-2 box-2 box-3"
  "box-4 centre-header centre-header centre-header box-6"
  "typed-text-display search-bar search-bar search-bar box-7";
}

.welcome {
  grid-column: 1;
  grid-row: 1;
  background-color: royalblue;
  padding: 30px;
}

.forecast-card {
  background-color: lightblue;
  padding: 20px; /*Pushes the text 20px away from the border on all sides*/
  border-radius: 12px; /*Rounded corners*/
  width: 400px;
  display: flex; /*turns on flexbox*/
  flex-direction: row; /*makes the flexbox horizontal instead of vertical*/
  gap: 20px; /*adds spacing between cards*/
}

.box-1 { grid-area: box-1; } /*says that this container is represented by box-x in the grid-template-areas bit above*/
.box-2 { grid-area: box-2; }
.box-3 { grid-area: box-3; }
.box-4 { grid-area: box-4; }
.centre-header { 
  grid-area: centre-header;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  align-self: center;
  justify-self: center; /*centre horizontally*/
  font-size: 64px;
  
}
.box-6 { grid-area: box-6; }
.box-7 { grid-area: box-7; }

.search-bar {
  --padding: 14px; /*shortcut variable named -- padding that stores 14px*/
  width: 100%; /*fill all grid space allocated to you*/
  display: flex;
  grid-area: search-bar; /*says that this container is represented by search-bar in the grid-template-areas bit above*/
  align-items: center; /* vertically centres all items relating to the search bar in the search bar*/
  padding: var(--padding); /*calls padding shortcut*/
  border-radius: 28px;
  background: #f6f6f6; /*background colour for search bar container*/
  transition: background 0.25s; /*smooths out colour change on hover*/
  box-sizing: border-box; /*causes browser to include padding in calculations so perfectly fits grid lines*/
  align-self: center; /*do not stretch vertically to fill whole tall row, shrink to your natural height as defined by other code*/
}

.search-bar:hover{
  background: #f1f1f1;
}

.search-bar-input {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none; /*removes outline when you click on input box*/
  border: none; /*removes border line around input field*/
  background: transparent;
  flex-grow: 1; /*stretches it to match the actual input box to match the flexbox search bar*/
}

.search-bar-input::placeholder,
.search-bar-icon {
  color: rgba(0, 0, 0, 0.5);
}

.typed-text-display {
  grid-area: typed-text-display;
  display: flex;
  flex-direction: column;
}