spring.datasource.url=jdbc:postgresql://localhost:5432/surfspot
spring.datasource.username=postgres
spring.datasource.password=localpassword

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
